*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
::-webkit-scrollbar{
    width: 0;
}

input,
button{
    background: transparent;
    border: none;
    outline: none;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}