.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: center;
    transition: .5s;
    display: none;
}

.modal.show {
    display: flex;
    z-index: 100;
}

.modal__view {
    padding: 24px;
    border-radius: 24px;
    background: rgb(243, 237, 247);
    width: 100%;
    max-width: 312px;
    transform: scaleY(0);
    transform-origin: top;
    transition: .5s;
}

.modal__view.show {
    transform: scaleY(1);
}

.modal__view h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #1c1b1f;
}

.modal__view label {
    border-radius: 4px 4px 0 0;
    width: 264px;
    height: 56px;
    background: #e7e0ec;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin-top: 16px;
}

.modal__view label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: #6750a4;
}

.modal__view label input {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #49454f;
}

.modal__view label input::placeholder {
    color: #49454f;
}

.modal__btns {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 24px;
    gap: 8px;
}

.modal__btns button {
    padding: 10px 12px;
    cursor: pointer;
    display: block;
}

.modal__btns button span {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #6750a4;
}

.modal__btns button:nth-of-type(1) span {
    color: #cf1b1b;
}